<div class='row'>

  <div class="col-sm-offset-1 col-sm-10">

    <div class="col-sm-12">
      <div id='post-container'>
        <%= render 'posts/post', post: @post %>
      </div>
    </div>

    <div class='col-sm-12'>
      <h4 class='inline'>Comments</h4>
      
      <div id='comments-container'>
        <%= render 'posts/comments', post: @post %>
      </div>

      <% if can? :create, Comment %>
        <%= link_to 'Add a Comment', '#add-comment-container', role: "button", data: {toggle: "collapse"} %>

        <%= render 'posts/edit_comment', comment: Comment.new(post: @post), post: @post %>


      <% else %>
        <span>[You must be signed in to add a comment]</span>
      <% end %>

    </div>

  </div>
</div>